body {
	font-family: Arial, sans-serif;
	font-size: .8em;
	background-color: #f3c3c0;
	color: #660033;
}

/* set font color, with 50% opacity */
p {
	color: rgba(102,0,51,.5);
}
/* set color for visited links */
a:visited {
	color: 003333;
}

/*set colors for rollover on text links */
a:link:hover, a:visited:hover {
	color: #ff0066;
}

/* set link colors when clicking link */
a:link:active, a:visited:active {
	color: purple;
	/* what's the hexadecimal equivalent of purple? */
}

a img {
	border: 2px solid red;
	padding: 2px;
}

header {
	text-align: center;
}

h1 {
	text-transform: uppercase;
	padding: 30px;
	border: 10px double #999;
	font-size: 3em;
}

img {
	float: left;
	margin-right: 10px;
}

div[role=main] {
	margin-left: 310px;
}
