body {
	font-family: Tahoma, sans-serif;
	font-weight: bold;
	font-size: 88px;
}

div {
	float: left;
	text-shadow: 0 2px #1e1e1e;
}

.letter-c {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	border-color: rgba(153,153,153,.6);
	background-color: rgba(255,255,0,.5);
	color: #797979;

}

.letter-s {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background-color: #01219f;
	color: white;
	position: relative;
	left: -20px;
	z-index: -1;
}

.letter-c .content {
	position: relative;
	top: -5px;
	left: 18px;
}

.letter-s .content {
	position: relative;
	top: -5px;
	left: 20px;
}
